.footer {
    background: var(--light-gray);
    border: none;
    font-size: 1rem;
    box-shadow:  0px 0 0.5px rgba(0, 0, 0, 0.7);
}
.footer_container {
    color: var(--black);
    width:100%; 
    display:flex; 
    align-items:center; 
    justify-content:center;
    flex-direction:column;
    flex-wrap: wrap;
}
.footer_title {
    color: var(--black);
    text-transform: uppercase;
    text-align: center;
}
.block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2px;
    margin-bottom: 10px; 
}
.block a {
    color: var(--black);
}
.block :first-child {
    margin-right: 1em;
}
