.header {
    position: absolute;
    z-index: 50;
    width: 100%;
    left: 0;
    top: 0;
    font-size: 1rem;
}
.header__fixed {
    background-color: var(--gray);
    position: fixed;
    opacity: 0.9;
}
.header__container {
    display: grid;
    justify-items: end;
    padding: 10px;
    grid-template-areas: "logo navs phoneNumbers";
    align-items: center;
    gap: 10px;
}
.header__logo {
    grid-area: logo;
    justify-self: start; 
    font-size: 1.5em;
    font-weight: 700;
    color: inherit;
    background: transparent;
    border: none;
    margin-top: 10px;
}
.header__menu {
    font-size: 1rem;
    grid-area: navs;
}
.header__dropdown_menu {
    display: none;
    grid-area: dropdownMenu
}
.menu {
    padding: 0.34em;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.menu__item:not(:last-child) {
    margin-right: 15px;
}
.menu__link {
    font-size: 1.2rem;
    color: var(--light-gray);
    font-weight: 600;
    line-height: 1.71em;
    background: transparent;
    border: none;
}
.menu__link:hover {
    color: var(--yellow);
}
img {
    height: 3em; 
    width: 6em;
    margin-right: 0.3em;
}
.block {
    grid-area: phoneNumbers;
}
.block a {
    color: var(--white);
}
.block :not(:last-child){
    margin-bottom: 5px;
}
@media (max-width: 1080px) {
    .header__container {
        grid-template-areas: "navs phoneNumbers";
    }
    .header__logo {
        display: none;
    }
    .header__menu {
        justify-self: start;
    }
}
@media (max-width: 910px) {
    .header__menu {
        display: none;
    }
    .block {
        justify-self: start;
    }
    .header__container {
        grid-template-areas: "phoneNumbers selectionButton dropdownMenu";
        align-items: center;
    }
    .header__dropdown_menu {
        display: block;
    }
    .header__logo {
        display: none;
    }
    .dropdown_menu {
        position: absolute;
        background-color: var(--light-gray);
        width: 300px;
        border-radius: 10px;
        box-shadow: 0 0.9em 1.1em rgba(0, 0, 0, 0.07);
        top: 100%;
        left: 0;
        right: 0;
        width: 94%;
        margin: auto;
        display: flex;
        flex-direction: column;
        color: var(--gray);
    }
    .dropdown_menu__button {
        background: none;
        border: none;
        font-size: 1.5rem;
        color: var(--light-gray)
    }
    .dropdown_menu__button:hover {
        color: var(--yellow);
    }
    .dropdown_menu {
        display: flex;
        justify-content: flex-end;
    }
    .dropdown_menu__list {
        display:flex;
        flex-direction: column;
        margin: 0 20px;
        font-size: 1.1rem;
        text-align: end;
    }
    .dropdown_block {
        display: block;
        text-align: end;
    }
    .dropdown_block > div {
        display: flex;
        justify-content: flex-end;
        margin: 0 20px;
    }
    .dropdown_block  img {
        width: 20px;
        height: 20px;
    }
    .menu__link {
        color: var(--gray);
    }
    .header__fixed {
        opacity: 1;
    }
}



