::root {
    box-sizing: border-box;
    font-size: 1rem;
}

html {
    --green: #0D5C63;
    --dark-gray: #595858;
    --black: #252B42;
    --gray: #737373;
    --light-gray: #FAFAFA;
    --white: #FFFFFF;
    --orange: #FF7B47;
    --yellow: #e9db21;
    --error: #FF4500;
    
    height: 100%;
} 
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    line-height: 1;
    color: var(--black);
    font-weight: 500;
    font-size: 1em;
    background: var(--light-gray);
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
h1,
h1,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
    color: var(--black);
}
img {
    vertical-align: top;
}

._container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}
.ibg {
    position: relative;
}
._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
