.form > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form > div:not(:last-child) {
    margin-bottom: 10px;
}
input[type=text],
textarea {
    padding: 5px;
    border-radius: 3px;
    width: 60%;
    border: 1px solid var(--black);
    outline:none;
}
input[type=text]:hover,
input[type=text]:focus,
textarea:hover,
textarea:focus {
    border: 1px solid var(--green);
    box-shadow: 0 0 1px 1px var(--green);
}
.required
{
    color: var(--error);
    margin-left: 3px;
}
.upload {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid var(--black);
}
.upload:hover,
.upload:active {
    color: var(--green);
    border: 1px solid var(--green);
    box-shadow: 0 0 1px 1px var(--green);
}
@media(max-width: 500px) {
    input[type=text] {
        width: 50%;  
    }
}
@media(max-width: 350px) {
    input[type=text] {
        width: 100%;  
    }
}
.title {
    font-size: 1.1rem;
    margin-bottom: 0.9em;
}
.error {
    color: var(--error);
}
input[type=text].input_error,
input[type=text].input_error:hover,
input[type=text].input_error:active,
input[type=text].input_error:focus
 {
    outline:none;
    border: 1px solid var(--error);
    box-shadow: 0 0 1px 1px var(--error);
}