.page__docs {
    margin-top: -90px;
    margin-bottom: 150px;
}
.docs__body {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0.6em;
    margin: 0 -15px -90px;
    padding: 0 10px;
}
.doc__column {
    flex: 0 1 48%;
    box-shadow: 0 0.9em 1.1em rgba(0, 0, 0, 0.07);
}

@media (max-width: 700px) {
    .doc__column {
        flex: 0 1 100%;
    }
    .doc__column :not(:last-child) {
        margin-bottom: 20px;
    }
} 
