.header_block {
    letter-spacing: .2px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.header_block__title {
    font-size: 2.5rem;
    text-align: center;
    margin: 0.3em 0;
    font-weight: 700;
}

.page__transport {
    margin-bottom: 70px;
}
.transport {
}
.transport__container {
    /* margin-bottom: 100px; */
}
.transport__header {
}
.transport__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.transport__column {
    flex: 0 1 48%;
    box-shadow: 0 0.9em 1.1em rgba(0, 0, 0, 0.07);
    /* margin-bottom: 15px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media(max-width: 700px) {
    .transport__column {
        flex: 0 1 100%;
    }
}

.transport__item {
    font-size: 1rem;
    margin: 2.5em 2em;
}
.item__title {
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.33em;
    margin-bottom: 10px;
}
.item__text {
    color: var(--gray);
    font-size: 1rem;
    line-height: 1.42em;
}
.transport__picture {
}
.transport__picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
