.card_body {
    font-size: 1rem;
    padding: 2.2em;
    height: 100%;
}
.icon {
    margin-bottom: 15px;
}
.icon > img path {
    fill: var(--green);
}
.title {
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.33em;
}
.text {
    color: var(--gray);
    font-size: 1rem;
    line-height: 1.42em;
}
